<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message App</title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>

    <main>
      <ul>
        <% messages.forEach((message, index) => { %>
        <li>
          <h3><%= message.author %></h3>
          <p><%= message.text %></p>
          <p><%= message.date %></p>
          <a href="/message/<%= index + 1 %>">
            <button>Open Message</button>
          </a>
        </li>
        <% }) %>
      </ul>

      <a href="/new">
        <button>Add Message</button>
      </a>
    </main>
  </body>
</html>
